.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-fixed-size {
    height: 300px; /* 또는 원하는 높이 */
    width: 100%; /* Grid 아이템의 폭에 맞춰 자동 조절 */
}

.review-card-fixed-size {
    max-width:600px; /* Grid 아이템의 폭에 맞춰 자동 조절 */
    height: auto; /* 또는 원하는 높이 */
}